
    <div class="row">
        <div class="polaroid">
            <a href="living-room">
                <img src="../../../assets/images/room.png" alt="">
                <div class="container">
                <p>Living room</p>
                </div>
            </a>
        </div>
        <div class="polaroid">
            <a href="kitchen">
                <img src="../../../assets/images/kitchen.png" alt="">
                <div class="container">
                <p>Kitchen</p>
                </div>
            </a>
        </div>
        <div class="polaroid">
            <a href="bedroom">
                <img src="../../../assets/images/bedroom.png" alt="">
                <div class="container">
                <p>Bedroom</p>
                </div>
            </a>
        </div>


        <!-- <div class="col-md-4">
            <div class="view overlay">
                <a href="living-room">
                    <img src="../../../assets/images/room.png" class="img-fluid" alt="">
                    <div class="mask flex-center rgba-white-strong">
                        <p class="black-text">Living room</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="view overlay">
                <a href="kitchen">
                    <img src="../../../assets/images/kitchen.png" class="img-fluid" alt="">
                    <div class="mask flex-center rgba-white-strong">
                        <p class="black-text">Kitchen</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="view overlay">
                <a href="bedroom">
                    <img src="../../../assets/images/bedroom.png" class="img-fluid" alt="">
                    <div class="mask flex-center rgba-white-strong">
                        <p class="black-text">Bedroom</p>
                    </div>
                </a>
            </div>
        </div> -->
    </div>


